@model IEnumerable<Articalproject.ViewModels.Author.GetAuthorsViewModel>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@{
    ViewData["Title"] = "البيانات";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:cairo"> بيانات الناشرون</h1>
@* <form method="get" asp-action="Search">
    <input type="search" name="SearchItem" class="search-field" placeholder="search ..." />
    <input type="submit" value="بحث" class="btn-primary" />
</form>
<br /> *@
<div>
    <input id="SearchItem" type="text" placeholder="search ..." />
</div>
<div id="AuthorData">

    @await Html.PartialAsync("_PartialAuthorData", Model)

</div>



<script>
    $(document).ready(function () {
        $("#SearchItem").on('input', function () {
            var searchString = $(this).val();
            $.ajax({
                url: '@Url.Action("Search", "AllUsers")',
                type: 'GET',
                data: { SearchItem: searchString },
                success: function (result) {
                    $("#AuthorData").html(result);
                }
            });
        });
    });
</script>