@using Articalproject.Models.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> _signInManager;

@if (!_signInManager.IsSignedIn(User))
{

    <ul class="navbar-nav mx-auto">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register" style="font-family: Cairo, sans-serif;">اشتراك</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login" style="font-family: Cairo, sans-serif;">تسجيل الدخول</a></li>
    </ul>
}
else
{
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
    <form asp-action="Logout" asp-controller="Account" method="post">
        <button type="submit" class="nav-link btn btn-link py=0 ">
            Logout @User.Identity.Name
            </button>
    </form>

</li>
</ul>
}